.App {
  padding: 1rem 2rem;
}

.header{
  font-size: 1.2rem;
  font-weight: 500;
  color: #29aed3;
  padding-bottom: 4rem;
}
.footer{
  font-size: 1.2rem;
  font-weight: 500;
  color: #24791d;
  padding-top: 4rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav__link{
  display: inline-block;
  margin-right: 1rem;
}

.nav__link a{
  text-decoration: none;
  color: #e74d3e;
  font-weight: 500;
  transition: .4s;
}

.nav__link a:hover{
  color: #3fc8ee;
}

.nav__link a.active{
  color: #3fc8ee;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
